*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
	font-size:12px;
}

body{
	/*background: url("../img/fondo.jpg");*/
	position: relative;
	
	background-color: rgba(160, 125, 49, 0.719);

	
    bottom: 0;
    left: 0;
	right: 0;
	z-index: 3;
}


.contenedor-form{
	width: 350px;
	padding: 40px 30px;
	background-color: rgba(216, 191, 137, 0.719);
	border-radius: 5px;
	box-shadow: 20px 25px 20px rgba(0, 0, 0, 0.44);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 50px auto;
}

.contenedor-form h1{
	text-align: center;
	color: #3c3407;
    /*text-shadow: 4px 4px 20px black;*/
}
.contenedor-form :focus{

	
	
    font-size: 30px;
	
}



.input-control{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.input-control :focus{
	outline-style: none;
	border-color: #2c3e50;
	transition: 0.5s;
	outline: none;
    font-size: 28px;
	height: 50px;
}



.input-control-2{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border-bottom: 2px solid rgb(218, 221, 201);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}



.contenedor-form select{ /**/
	width: 120%;
	height: 40px;
	cursor: pointer;
	text-align: left;
	border-style: none;
	border-radius: 5px;
}
.contenedor-form select:focus{ /* */
	width: 150%;
	height: 40px;
	text-align: left;
	border-style: none;
	border-radius: 5px;
	outline: none;
    font-size: 2em;
	
	
	
}
.contenedor-form select  option:hover {
	/* */
	width: 150%;
	height: 40px;
	text-align: left;
	border-style: none;
	border-radius: 5px;
	outline: none;
	font-size: 2em;



}



.log-btn{
	width: 100%;
	height: 50px;
	font-size: 25px;
	border: none;
	background: #856c18;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 15px;
}
.log-btn:hover {
	width: 100%;
	height: 50px;
	font-size: 50px;
	border: none;
	background: #856c18;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 15px;
}


.link{
	display: inline-block;
	text-decoration: none;
	color:#2c3e50 ; /* #beb900*/
	font-size: 14px;

}

.link:hover{
	text-decoration: underline;
}

.contenedor-form .error{
	display: inline-block;
	color: red;
	font-size: 12px;
	margin-right: 10px;
}

.registrar{
	display: inline-block;	
	color: #2c3e50 ;
	font-size: 15px;
}

.contenedor-form #discapacidad-registro{
	display: inline-block;
	width:100%;
	height:130%;
	font-size: 18px;

}

/*PARA FOTO DE PERFIL EN ARCHIVO editar_perfil.php*/
.publi-img-perfil_de_loginCSS{
	width: 200px;
	height: 190px;
	border: 1px solid #ccc;
	border-radius: 10px;
	display:block; /*PARA CENTRAR LA IMAGEN ESTAS 2 LINEAS DE CODIGO*/
    margin:auto;   /*PARA CENTRAR LA IMAGEN ESTAS 2 LINEAS DE CODIGO*/
   
}
.publi-img-perfil_de_loginCSS:hover{
    max-width: 100%;
    max-height: 70%;
    margin: auto;
	width: 400px;
	height: 280px;
    
	border: 1px solid #ccc;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	
    
}
